header,footer {
    height:25vh;
    background:var(--accent);
    color:var(--primary);
    text-align: center;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --primary: skyblue ;
    --accent: gray;
}

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background:var(--primary)
}

body header h1, h2 {
    display: flex;
    flex-wrap: wrap;
}

.main {
    min: height 70vh;
    flex: 1;
    background-color: red;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}